<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com{% endblock %}</title>
</head>
<body>
<header>
    {% include'inc/header.html.twig' %}
</header>
<main>
    {%block main %}
    {% endblock %}
</main>
<footer>
    {% include 'inc/footer.html.twig' %}
</footer>
</body>
</html>