<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Team: "Hélène et les garçons (Jérémy & Ivan) 2020" - {{ "now"|date('Y') }}
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->