<h1>{{ pseudo }}, </h1>
<p>Vous recevez ce mail car une demande de modification de mot de passe a été effectué sur votre compte.</p>
<h2>Pour modifier votre mot de passe, rendez vous sur http://projetsortir.local/oublie/{{ url }} dans l'heure qui suit la demande.</h2>
<p>Si vous n'avez pas effectué de demande de changement de mot de passe, merci d'ignorer ce mail !</p>
<p>ProjetSortir.com</p>