<h1>{{ pseudo }}, </h1>
<p>Vous recevez ce mail car une demande de modification de mot de passe a été effectué sur votre compte.</p>
<h2>Pour modifier votre mot de passe, rendez vous <a href="{{ url('lienMail', {'id': url}) }}">Ici</a>.</h2>
<h3>Le lien est valide une heure !</h3>
<p>Si le boutton ne fonctionne pas : {{ url('lienMail', {'id': url}) }}</p>
<p>Si vous n'avez pas effectué de demande de changement de mot de passe, merci d'ignorer ce mail !</p>
<p>ProjetSortir.com</p>