{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié | {{ parent() }}{% endblock %}
{% block main %}
    <form action="{{ path('MotDePasseOublié') }}" method="post" name="MotDePasseOublié">
        
    </form>
{% endblock %}

